body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-image: radial-gradient(#4A92E7,#2E287A);
	font-family: arial, sans-serif;
}

#tela-inicial{
	width: 100%;
	height: 580px;
	color: #fff;
	background-image: radial-gradient(#4A92E7,#2E287A);
	text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    z-index: 2;
}

#tela-inicial input{
	width: 220px;
	height: 30px;
	border-radius: 10px;
	border: 1px solid #9F4513;
	text-align: center;
	font-size: 1.1rem;
}

#tela-inicial h1{
	padding: 10px;
	font-size: 2.2rem;
	color: #E69F02;
	font-weight: 700;
	text-shadow: 2px 2px 2px #020561;
	border-radius: 30px;
	border: 3px solid orange;
	background-image: linear-gradient(#416302, #024F63)
}



#tela-inicial img{
	animation: roda-girando 3s infinite;
}

@keyframes roda-girando {
	100% {transform: rotate(360deg);}
}

#btnComecar{
	color: #000;
	font-size: 1.1rem;
	font-weight: bold;
	width: 220px;
	height: 35px;
	border-radius: 10px;
	border: none;
	background-image: radial-gradient(#E9B219, #E96319);
}

.container-jogo{
	margin: 0 auto;
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container-roleta{
	margin: 0 auto;
	width: 362px;
	height: 370px;
}

#roleta{
	width: 360px;
	height: 360px;
	border-radius: 50%;
	position: relative;
	bottom: 20px;
}

#btn-girar{
	font-size: 1.5rem;
	font-weight: bold;
	margin-top: 30px;
	width: 143px;
	height: 143px;
	border-radius: 50%;
	position: relative;
	bottom: 302px;
	left: 109px;
	outline: none;
	border: none;
	background-image: radial-gradient(#00DEAB, #0F799A);
}

#seta{
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 30px solid blue;
	position: relative;
	left: 160px;
	top: 0px;
	z-index: 1;
}

.painel-jogador{
	font-weight: bold;
	font-size: 1.2rem;
	padding-top: 5px;
	text-align: center;
	margin: 10px 10px 15px 12px;
	width: 150px;
	height: 25px;
}

.container-jogadores{
    display: flex;
    justify-content: space-between;  
}

.container-nomes{
	color: #fff;
	position: relative;
	bottom: 5px;
	width: 300px;
	display: flex;
	justify-content: space-between;
}

#jogador1{
	border: 10px solid #2BC881;
	border-radius: 5px;
	background-color: #11824F;
	color: #fff;
}

#jogador2{
	border: 10px solid #EF644B;
	border-radius: 5px;
	background-color: #B83C26;
	color: #fff;
}

.caixa-palavra{
	text-align: center;
	margin: 20px 0 25px 20px;
    width: 200px;
    height: 56px;
	border: 5px solid #E1FF4B;
	border-radius: 10px;
	background-color: #2740CA;
	display: flex;
	justify-content: center;
}

#dica{
	padding-top: 5px;
	text-align: center;
	color: #fff;
	background-color: #2740CA;
	border-radius: 50px;
    width: 210px;
    height: 38px;
    border: 2px solid #E1FF4B;
}

#chute{
	font-size: 1.2rem;
}

.container-palavra{
	width: 100%;
	height: 72px;
	justify-content: center;
	display: flex;
	align-items: center;
}

.container-jogo input{
	text-align: center;
	width: 200px;
	height: 35px;
}

#palavra{
	font-size: 0.8rem;
	font-weight: bold;
	width: 85%;
	height: 25px;
	background-color: #fff;
	color: #000;
	padding-top: 8px;
	margin-top: 10px;
	text-transform: uppercase;
}

.container-chute{
	margin-top: 10px;
	display: flex;
}

#mostraTelaFinal{
	padding: 5px;
	font-size: 1.4rem;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	position: absolute;
	top: 0;
	z-index: 2;
	background-image: radial-gradient(#FAFD4D, #FE771F);
	width: 99%;
	height: 580px;
	box-shadow: 13px 13px 13px;
}

#btnReiniciar{
	font-size: 1.5rem;
	font-weight: bold;
	width: 150px;
	height: 45px;
	border-radius: 10px;
	border: none;
	box-shadow: 2px 2px 10px;
	background-image: radial-gradient(#27CFCF, #7F87FA);
}

@media (max-width: 576px) {
	.container-jogo{
		width: 99%;
	}
	#palavra{
		font-size: 0.75rem;569
	}
	#tela-inicial h1{
		font-size: 1.7rem;
	}
}

@media (max-width:  370px) {
	#tela-inicial{
		width: 385px;
	}
	#tela-inicial h1{
		font-size: 1.4rem;
	}
}